# Details:     https://github.com/veraison/community
# Maintainers: https://github.com/orgs/veraison/teams/ratsd-maintainers
#              https://github.com/orgs/veraison/teams/veraison-org-maintainers

* @veraison/ratsd-maintainers @veraison/veraison-org-maintainers
